.modal-header.text-center
  %h1 About us
.modal-body
  .row.offset1
    .row.offset2
      .span4
        %a{href:"https://github.com/EmanuelaMollova"}
          %img{src:"/img/emi.png"}
        Emanuela Mollova
      .span4.offset2
        %a{href:"https://github.com/snejy"}
          %img{src:"/img/snejy.png"}
        Snezhana Spasova
    .row.offset2
      .span4
        %a{href:"https://github.com/MariaTerzieva"}
          %img{src:"/img/me.png"}
        Maria Terzieva
      .span4.offset2
        %a{href:"https://github.com/gurumov"}
          %img{src:"/img/gosho.png"}
        Georgi Urumov
    .row.offset2
      .span4
        %a{href:"https://github.com/harisonp"}
          %img{src:"/img/harry.png"}
        Hristo Avramov
      .span4.offset2
        %a{href:"https://github.com/bladespinner"}
          %img{src:"/img/misho.png"}
        Mihail Gospodinov