.modal-header.text-center
  %h1 Achievements
.modal-body
  .row.offset1
    .row
      .span4
        %img{src:"/img/answering_fast.png"}
        Answering fast
      .span4.offset2
        %img{src:"/img/asked_50_questions.png"}
        Asked 50 questions
    .row
      .span4
        %img{src:"/img/enlightened.png"}
        Enlightened
      .span4.offset2
        %img{src:"/img/genius.png"}
        Genius
    .row
      .span4
        %img{src:"/img/helped_100_people.png"}
        Helped over 100 people
      .span4.offset2
        %img{src:"/img/logical_thinking.png"}
        Logical thinking
    .row
      .span4
        %img{src:"/img/making_first_steps.png"}
        Making first steps
      .span4.offset2
        %img{src:"/img/master.png"}
        Master
    .row
      .span4
        %img{src:"/img/pro_tip_giver.png"}
        Pro tip giver
      .span4.offset2
        %img{src:"/img/professionalist.png"}
        Professionalist
    .row
      .span4
        %img{src:"/img/superhero.png"}
        Superhero
      .span4.offset2
        %img{src:"/img/padlock.png"}
        izmisli ne6to
    .row
      .span4
        %img{src:"/img/padlock.png"}
        izmisli ne6to
      .span4.offset2
        %img{src:"/img/padlock.png"}
        izmisli ne6to
    .row
      .span4
        %img{src:"/img/padlock.png"}
        izmisli ne6to
      .span4.offset2
        %img{src:"/img/padlock.png"}
        izmisli ne6to
