%div.alert-success.text-center
  %h1 Add Answer
%form{ :method => "post", :role => "form", :action=>"/answer/add" }
  .row
    %div.offset4
      %label Select the type of your answer
      %select{ :name => "type", :id =>'type' , :multiple=>true, :class=>"chosen-select", :style=>"height:30px"}
        %option Text
        %option Video
        %option Chat
        %option Meeting
    :javascript
      $(".chosen-select").attr('data-placeholder',"Select the type").chosen().remove();
      $('.search-field input').height('20');
  .row{style:"margin-top:10px"}
    %div.offset4
      %label Text:
      %textarea{:id=>'text', :name=>'text'}
  .row
    %div.offset4
      %button.btn.btn-default{ :type => "submit",  :class=>'btn bnt-large  btn-success'} Submit
