
%div.span6.pull-left(style="height:400px;")
	%div#messages(style="margin-top:15px;width:90%;border:1px solid #999999;border-radius:15px;padding:5px;background:#4ff9dc;height:350px;overflow-y:scroll")
	%input#sender(style="margin-top:7px;width:90%")
%div.span6.pull-left(style="height:400px;")
	%h2
		Link Aggregator
	%div#linkAggregator(style="margin-top:15px;width:90%;border:1px solid #999999;border-radius:15px;padding:5px;background:#4ff9dc;height:300px;overflow-y:scroll")

%script(src="/js/socketchat.js")