
%div.span7.pull-left(style="height:250px;")
	%div#messages(style="margin-top:15px;width:90%;border:1px solid #999999;border-radius:15px;padding:5px;background:#4ff9dc;height:180px;overflow-y:scroll")
	%input#sender
%div.span4.pull-left(style="height:250px;")
	%div#linkAggregator(style="margin-top:15px;width:90%;border:1px solid #999999;border-radius:15px;padding:5px;background:#4ff9dc;height:180px;overflow-y:scroll")

%script(src="/js/socketchat.js")