-# - if @questions
-#   - @questions.each do |question|
-#     %p= question.title
-#     %p= question.field_id
-#     %p= find_field_name(question.field_id)
-#     %p= question.time_expires
-#     %p= (question.time_expires.to_time.to_i - Time.now.to_i) / 60

%div.span8.pull-left
  .row(style="margin:5px")
    %ul.nav.nav-pills
      %li.active{:data=>{:class=>'critical'}}
        %a{:href=>"javascript:;"} Critical Events
      %li{:data=>{:class=>'tommorow'}}
        %a{:href=>"javascript:;"}Events for Tommorow
      %li{:data=>{:class=>'questions'}}
        %a{:href=>"javascript:;"}Yes/No Questions
      %li{:data=>{:class=>'my'}}
        %a{:href=>"javascript:;"}My Events
    :javascript
      $('.nav li').click(function(){
        $('.hideable').hide();
        var showObj = $(this).attr('data-class');
        $('.nav li').removeClass('active');
        $(this).addClass('active');
        console.log();
        $('.' + showObj).show();
      });
  .row.span10.critical.hideable
    %table.tablesorter{:id =>"emergencyTable"}
      %thead
        %tr
          %th Title
          %th Category
          %th Time Left
      %tbody{:style => "cursor:pointer"}
        - if @questions
          - @questions.each do |question|
            %tr
              %td{:style=>"color:#00FF00;font-size:200%"}= question.title
              %td
                %select{ :name => "skills", :id =>'skills_' + question.id.to_s, :multiple=>true, :class=>"chosen-select", :style=>"height:30px", :readonly =>true, :disabled=>true}
                  %option{:id=>question.field_id}=find_field_name(question.field_id)
                :javascript
                  $("#skills_#{question.id.to_s}").val($("#skills_#{question.id.to_s} option").first().val())
                  $(".chosen-select").attr('data-placeholder',"Select your skills").chosen();
                  $('.search-field input').height('20');
                  $('.chzn-choices').css({'border':'none'})
              %td.timer{:style=>"color:#FF0000;background-color:#000000;border-bottom: 1px #FFFFFF;font-size:200%"}
                = (question.time_expires.to_time.to_i - Time.now.to_i) / 60
              %td
                - link = '/answer/add/' + question.id.to_s
                %a{href: link} Add answer
    .row
      %div.span4
      %input{:type=>'button',:value=>"See", :class=>'btn btn-normal span2 btn-success', :disabled=>true}
  :javascript
    $(document).ready(function(){
      $(".tablesorter").tablesorter({
          widthFixed:true,
          widgets: ["zebra"]
        });

      $('.tablesorter tbody tr').click(function(){
          $('.tablesorter tbody tr').children().removeClass('selected')
          $(this).children().addClass('selected');
      })
    });

  %a{href: '/question/add', style:"margin-left:22px"} Add a question
  .row.span8.tommorow.hideable
  .row.span8.questions.hideable
  .row.span8.my.hideable

  %div(style="width:150px;height:150px")

%script(src="/js/ynquestion.js")
%aside#questionPlaceholder.span2(style="float:right;margin-right:15px")

:javascript
  $(".search-choice-close").hide()

%div(style="clear:both")
:javascript
  $(document).ready(function(){
    $('.timer').each(function(){
      var self = this;
      var timeLeft = parseInt($(this).text(),10)
      var secs = 60;

      $(this).text(timeLeft + '.' + secs + ' mins');
      setInterval(function(){
        var times = $(self).text().split('.');
        var minsLeft = parseInt(times[0],10);
        var secs = parseInt(times[1],10);
        console.log(minsLeft, secs);
        if(secs == 0){
          minsLeft -=1;
          secs = 60;
        }else{
          secs -= 1;
        }
        $(self).text(minsLeft + '.' + secs + ' mins');
      },1000);
    });
  });
