%div.span8.pull-left
  .row
    %ul.nav.nav-pills 
      %li.active{:data=>{:class=>'critical'}}
        %a{:href=>'javascript:;'} Critical Events
      %li{:data=>{:class=>'tommorow'}}
        %a{:href=>"javascript:;"}Events for Tommorow
      %li{:data=>{:class=>'questions'}}
        %a{:href=>"javascript:;"}Yes/No Questions
      %li{:data=>{:class=>'my'}}
        %a{:href=>"javascript:;"}My Events
    :javascript
      $('.nav li').click(function(){
        $('.hideable').hide();
        var showObj = $(this).attr('data-class');
        $('.nav li').removeClass('active');
        $(this).addClass('active');
        console.log();
        $('.' + showObj).show();
      });
  .row.span8.critical.hideable
    %table.tablesorter{:id =>"emergencyTable"}
      %thead
        %tr
          %th Title
          %th Category
          %th Time Left
      %tbody
        %tr
          %td Help misho
          %td 
            %select{ :name => "skills", :id =>'skills' , :multiple=>true, :class=>"chosen-select", :style=>"height:30px", :readonly =>true, :disabled=>true}
              - if @items
                - @items.each do |element|
                  %option{:id=>element[:id]}= element[:name]
            :javascript
              $(".chosen-select").val($(".chosen-select option").first().val())
              $(".chosen-select").attr('data-placeholder',"Select your skills").chosen();
              $('.search-field input').height('20');
              $('.chzn-choices').css({'border':'none'})
          %td
            20.00
    :javascript
      $(document).ready(function(){
        $("#emergencyTable").tablesorter();
      });
  .row.span8.tommorow.hideable
  .row.span8.questions.hideable
  .row.span8.my.hideable
%aside
  %li 
    Question 1: yes no
  %li Question 2:

