.modal-header
  %h2.text-center Get help, when you need it!
.modal-body
  .row
    .span4
      %h4
        %i Help others, become a hero!
  .row
    .span4.offset6
      %h4
        %i Join a comunity of knowledge!
  .row
    .span4.offset4
      %h2
        %i Have fun!
  .row
    .span8.offset2
      %br
      %br
      %div{style: "position:relative"}
        %img{src: "/img/hands.jpeg"}
        %div{style: "position:absolute;left:160px;top:70px;"}
          %a.btn.signup{href: "/user/register"}Sign up now!
