
%html
  %head
    %meta(charset="utf-8")
    %title "HelpMeOut"
    %link(href="/css/bootstrap.css" rel="stylesheet" media="screen")
    %link(href="/css/chosen.css" rel="stylesheet" media="screen")
    %link(href="/css/style.css" rel="stylesheet" media="screen")
    %link(href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen")
    
  %body
    %script(src="/js/jquery-2.1.0.min.js")
    %script(src="/js/bootstrap.js")
    %script(src="/js/chosen.jquery.js")
    %script(src="/js/bootstrap-datetimepicker.min.js")
    %script(src="js/jquery.tablesorter.js")
    %script(src="js/jquery.tablesorter.wigets.js")
    %script(src="js/jquery.tablesorter.js")
    

    .navbar.navbar-inner
      %a.brand.navbar-left{href: "/"}
        %img{src: "/img/logo40x40.png"} HelpMeOut!
      .navbar-static-top
        .navbar-header
          %ul.nav.navbar-nav
            %li.active
              %a{href: "/"}Home
            %li
              %a{href: "/"}Play
            %li
              %a{href: "/"}About
          %ul.nav.navbar-nav.pull-right
            - if user_logged?
              %li.right-spacer.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown"}
                  Profile
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-cog MyProfile
                  %li
                    %a{href: "/user/logout"}
                      %span.glyphicon.glyphicon-off Logout
            - else
              %li.right-spacer
                %a{href: "/user/login"} Log in


    .container
      .container-body
        .modal     
          =yield
        

        
    .container
      .navbar.navbar-inner.nav.navbar-fixed-bottom
        %p.text-center A HackFmi3 project by VRP
