
%html
  %head
    %meta(charset="utf-8")
    %title HelpMeOut
    %link(href="/css/bootstrap.css" rel="stylesheet" media="screen")
    %link(href="/css/chosen.css" rel="stylesheet" media="screen")
    %link(href="/css/style.css" rel="stylesheet" media="screen")
    %link(href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen")
    
  %body
    %script(src="/js/jquery-2.1.0.min.js")
    %script(src="/js/bootstrap.js")
    %script(src="/js/chosen.jquery.js")
    %script(src="/js/jquery.tablesorter.pager.js")
    %script(src="/js/jquery.tablesorter.js")
    %script(src="/js/bootstrap-datetimepicker.min.js")

    .navbar
      .navbar-inner
        %a{class: "brand", href: "/"}HelpMeOut!
        %ul.nav
          %li.active
            %a{href: "/"}Home
          %li
            %a{href: "/"}Play

    #content
      .right.column
        %h2 Welcome to our site!
        %p print_information

    =yield