.modal-header.text-center	
  %h1= @question.title
  %h6
    A question from
    %div{:style=>'color:#00FFFF;cursor:pointer'}
      = @question.user.username
.modal-body
  .row.span10.offset1
    %h2.text-center Answers:
    %table.table.table-striped.table-hover{:id =>"answerTable"}
      - if @answers.size != 0
        - @answers.each do |answer|
          %tr.of
            %td
              #customtextarea
                %div{style: "margin-left: 20px;"}
                  .row.text-center
                    = answer.text
                  .row
                    %div.pull-left
                      .span.stars.s-3stars{"data-default" => 3}
                    %div.pull-right
                      Answered by: #{answer.user.username}
      - else
        %p There are no answers yet
