.text-center
  %h1 Skills

  %form{ :method => "post", :role => "form" }
    .row
      %label.span4.offset3{ :for => "skill" } Skill:
      .span4.offset3
        %input.form-control{ :id => "skill", :type => "text", :name => "skill", :style=>"height:30px"}