/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.selected{
	background-color : #51a351 !important
}

body {
	background-image: url('/img/background900.jpg');
	background-size: 100%
}

.footerimage {
    background: url('/img/footer.jpeg') no-repeat;
    background-size: 100%
}

.modal {
  top: 17%;
  left: 20%;
  right: 10%;
  z-index: 1050;
  width: 70%;
  margin-left: -100px;
	position: absolute;
  background-color: #ffffff;
  opacity: 0.8;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  }
>>>>>>> Stashed changes
