/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.selected{
	background-color : #51a351 !important
}

body {
	background-image: url('/img/background700.jpg');
	background-size: 100%
}

.footerimage {
    background: url('/img/footer.jpeg') no-repeat;
    background-size: 100%
}

.modal {
  top: 17%;
  left: 20%;
  right: 10%;
  z-index: 1050;
  width: 70%;
  min-height: 70%;
  margin-left: -100px;
	position: absolute;
  background-color: #ffffff;
  opacity: 0.9;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  }

.signup {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:170px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
	z-index: 1100;
}

.signup:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
.signup:active {
	position:relative;
	top:1px;
}


.time_container{
	width:150px;
}

.time_container .time_bar{
	font-size:70%;
	width:146px;
	margin:2px;
	margin-top:0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius:15px;
	border:1px solid gray;
	transition:all 1s;
}

.time_bar[data-fill="10"]{
	background: #B4BBBB;
	width:132px;
}

.time_bar[data-fill="9"]{
	background: #BBC4C4;
	width:118px;
}

.time_bar[data-fill="8"]{
	background: #C29D9D;
	width:104px;
}

.time_bar[data-fill="7"]{
	background: #C98686;
	width:90px;
}

.time_bar[data-fill="6"]{
	background: #D07F7F;
	width:76px;
}

.time_bar[data-fill="5"]{
	background: #D76868;
	width:62px;
}

.time_bar[data-fill="4"]{
	background: #DE5151;
	width:48px;
}

.time_bar[data-fill="3"]{
	background: #E54A4A;
	width:34px;
}

.time_bar[data-fill="2"]{
	background: #EC3333;
	width:26px;
}

.time_bar[data-fill="1"]{
	background: #F32C2C;
	width:20px;
}

.time_bar[data-fill="0"]{
	background: #FF1515;
	width:20px;
}

.mycontent-left {
  border-left: 1px solid;
  margin-left: -50px;
}

.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

#customtextarea {
width:550px;
max-width:550px;
height:70px;
margin-top:10px;
margin-bottom:10px;
padding:15px;
font-weight:normal;
font-style:normal;
font-size:14px;
line-height:110%;
font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
border:1px solid #000000;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
color:#000000;
background:rgba(237, 250, 250, 1);
-moz-transition:all .6s ease;
-webkit-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
transition:all .6s ease-in-out;
}

#customtextarea:hover {
color:#000000;
-moz-box-shadow:0px 0px 5px 5px #AFFC74;
-webkit-box-shadow:0px 0px 5px 5px #AFFC74;
box-shadow:0px 0px 5px 5px #AFFC74;
-moz-transition:all .6s ease;
-webkit-transition:all .6s ease;
-o-transition:all .6s ease;
transition:all .6s ease;
}
